@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 21px;
	text-decoration-thickness: 5%;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 18px;
	}
}

html, body {
	/* background: linear-gradient(0deg, rgb(65,100,85) 0%, rgb(30,36,35) 100%); */
	background: linear-gradient(0deg, rgb(30, 36, 35) 0%, rgb(65, 100, 85) 100%);
}

input[type="checkbox"] {
	background-image: url("assets/zoom-in.svg");
}

input[type="checkbox"]:checked {
	background-image: url("assets/zoom-out.svg");
}

.document-list a:before {
	content: "";
	display: block;
	background: url("assets/document.svg") no-repeat;
	background-size: contain;
	position: relative;
	margin-right: 0.3em;
	top: 0.5em;
	width: 1.2em;
	height: 1.2em;
	float: left;
}

th {
	text-align: right;
	font-style: italic;
}

td, th {
	padding: 0 0.3em;
}

.amp {
	font-family: 'Playfair Display', serif;
}

.atropos {
	width: 50%;
	position: absolute;
	transform-origin: center center;
}

.atropos-opensea {
	transform: translateX(15%) translateY(15%) rotate(-12deg);
}

.atropos-rarible {
	transform: translateX(50%) translateY(50%);
}

.atropos-foundation {
	transform: translateX(85%) translateY(85%) rotate(12deg);
}

.image-container {
	position: relative;
	width: 100%; /* or any specific width you want */
	display: inline-block; /* This allows the container to wrap around the content */
  }
  
  .main-image,
  .hover-image {
	display: block;
	width: 100%;
	height: auto;
	transition: opacity 0.3s ease-in-out;
  }
  
  .main-image {
	position: relative;
	z-index: 1;
  }
  
  .hover-image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
  }
  
  .image-container:hover .main-image {
	opacity: 0;
  }
  
  .image-container:hover .hover-image {
	opacity: 1;
  }